.unauthorized-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fef3c7;
  color: #b91c1c;
  font-size: 24px;
  text-align: center;
}
